.App {
  text-align: center;
}

/* @media (max-width: 1000px) {
  body {
    background-image: url(./static/images/mobile-placeholder.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  div {
    display: none;
  }
} */
