.App {
  text-align: center;
}

@media (max-width: 800px) {
  body {
    background-image: url(./static/images/placeholder.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #ec952e;
  }

  div {
    display: none;
  }
}
