.Homepage {
  height: 100%;
  width: 100%;
}

.Headline {
  text-align: center;
  font-family: 'Work Sans';
  font-style: normal;
  font-size: large;
  text-align: center;
  color: #0e1500;
}

.MissionStat {
  text-align: center;
  font-family: 'Work Sans';
  font-style: normal;
  font-size: medium;
  text-align: center;
  color: #0e1500;
  padding-top: 20px;
}
