@import '../colors.css';

.SiteHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: rgb(235, 235, 235);

  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}

.toggleNav {
  cursor: pointer;
  margin-left: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 0.175em;
}

.atSymbol {
  color: transparent;
  font-weight: 800;
  font-size: larger;
  background-image: var(--backgroundGradient);
  background-position: 0%;
  background-size: 300%;
  background-clip: text;
  animation: gradientAnimation 5s alternate infinite ease-in-out;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
